services:
  api-express:
    build: ../../services/api-express
    container_name: api-express
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - KAFKA_BROKER=kafka:9092
    depends_on:
      - kafka
      - kafka-init

  validator-fastapi:
    build: ../../services/validator-fastapi
    container_name: validator-fastapi
    ports:
      - "4001:4001"
    environment:
      - KAFKA_BROKER=kafka:9092
    depends_on:
      - kafka
      - kafka-init

  orchestrator-spring:
    build: ../../services/orchestrator-spring
    container_name: orchestrator-spring
    ports:
      - "4002:4002"

  worker-gofiber:
    build: ../../services/worker-gofiber
    container_name: worker-gofiber
    ports:
      - "4003:4003"
    environment:
      - PORT=4003

  api-dotnet:
    build: ../../services/api-dotnet
    container_name: api-dotnet
    ports:
      - "4004:4004"
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:4004

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../observability/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-init:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka-init
    depends_on:
      - kafka
    entrypoint: ["/bin/sh", "-c"]
    command: >
      kafka-topics --bootstrap-server kafka:9092 --create --if-not-exists
      --topic order.created --partitions 1 --replication-factor 1
      && echo 'Kafka topic ready'
